<table class='table table-success table-striped'>
  <thead>
    <tr>
      <th>Group Name</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @groups.each do |group| %>
      <tr>
        <td>
          <%= link_to group.name, group_path(group) %>
        </td>
        <td>
          <%= link_to 'Edit', edit_group_path(group), class: 'btn btn-sm btn-warning' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
