<h3 class="text-center">
  <%= @group.name %>
</h3>

<%= javascript_pack_tag 'hello_react' %>


<div class="group-chat-container panel" id="group-chat">
  <div class="panel-body">
    <div class="group-chats">
      <div class="group-chat">
        <div class="group-chat-body">
          <div class="group-chat-content">
            <div class="friend-name">
               <strong>Jane Doe</strong>
            </div>
            <p>
              Good morning, sir.
            </p>
            <time class="group-chat-time" datetime="2015-07-01T11:37">11:37:08 am</time>
          </div>
        </div>
      </div>
      <div class="group-chat group-chat-left">
        <div class="group-chat-body">
          <div class="group-chat-content">
            <div class="friend-name">
               <strong>Jane Doe</strong>
            </div>
            <p>Well, I am just looking around.</p>
            <time class="group-chat-time" datetime="2015-07-01T11:39">11:39:57 am</time>
          </div>
        </div>
      </div>
      <div class="group-chat">
        <div class="group-chat-body">
          <div class="group-chat-content">
            <div class="friend-name">
               <strong>Jane Doe</strong>
            </div>
            <p>
              If necessary, please ask me.
            </p>
            <time class="group-chat-time" datetime="2015-07-01T11:40">11:40:10 am</time>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="panel-footer">
    <form>
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Say something">
        <span class="input-group-btn">
          <button class="btn btn-primary" type="button">Send</button>
        </span>
      </div>
    </form>
  </div>
</div>
