default: &default
  adapter: mysql2
  encoding: utf8mb4
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>
  username: root
  password:
  socket: /var/run/mysqld/mysqld.sock

development:
  <<: *default
  database: welcome_groups_development

test:
  <<: *default
  database: welcome_groups_test

production:
  <<: *default
  database: welcome_groups_production
  username: welcome_groups
  password: <%= ENV['WELCOME_GROUPS_DATABASE_PASSWORD'] %>
